{% extends 'pizza2go/base_pizza2go.html' %}

{% block title %}Pizza2Go{% endblock %}

{% block content_pizza2go %}
    <h2>Pizzas</h2>
    {% if ordered_pizza_list %} 
      {% for pizza in ordered_pizza_list %}
        <h3>{{pizza.name}}</h3>
        <details>
          <summary>Toppings</summary>
          <ul>
            {% for topping in pizza.toppings.all %}
                <li>{{ topping.name }}</li>
            {% endfor %}
          </ul>
        </details>
        <form action="{% url 'pizza2go:pizza2go-add_to_cart' %}" method="post">
          {% csrf_token %}
          <div class="form-group" name="select-sizes">
              <label for="sizes">Sizes</label>
              <div class="row">
                <div class="form-group">
                  <select id="sizes" class="form-control" name="sizes" required>
                    <option value="">Choose...</option>
                    {% for size in pizza.pizzasize_set.all %}
                      <option value={{size.id}}>{{ size.name }}, {{size.diameter}} cm, {{size.price}} €</option>
                    {% endfor %}
                  </select>
                </div>
              </div> 
          </div>
          {% if user.is_authenticated %}
          <button class="btn btn-success" type="submit">Add to cart ({{ pizza.name }})</button>
          {% endif %}
        </form>
      {% endfor %}
    {% else %}
      <p>No pizzas are available.</p>
    {% endif %}
{% endblock %}